.project
.settings
.classpath
.springBeans
.DS_Store
target
*.class
testfiles/*
output/*
bin/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# outputfiles
*.sql

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#
/src/main/resources/AwsCredentials.properties
/src/main/resources/config.properties
